body
{ 
background-image: url('/images/cyber-hintergrund.jpg');
  background-size: cover;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
  display: flex;
  object-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}


/* CSS-Code in style.css */
.menu {
    list-style: none;
    margin: 0;
}

.menu li {
    display: inline; /* Anordnung der Menüpunkte horizontal */
    margin-right: 20px; /* Abstand zwischen den Menüpunkten */
}

.menu a {
    text-decoration: none; /* Entfernt die Standard-Link-Unterstreichung */
    color: #5e1bb7; /* Textfarbe der Menüpunkte */
    font-weight: bold;
}

.menu a:hover {
    color: #007BFF; /* Farbe der Menüpunkte im Hover-Zustand */
}

/* article {
    background-color: azure;
    padding: 10px;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
} */


h1 {
    color: rgb(249, 100, 0);
    padding: 10px 0;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
}
h2 {
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
   color: #01bd1d;
    
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
    background-color: rgba(180, 171, 180, 0.201);
}
.image-container img {
    max-width: 100%; /* Das Bild wird nie breiter als der Container */
    max-height: 100%; /* Das Bild wird nie höher als der Container */
}

section {
   
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;

   
}

article {
    width: 430px;
    background-color: rgb(0, 0, 0);
    padding: 28px;
    border-radius: 27px; /* Hier wird die Abrundung festgelegt */
    margin: -24px;
    text-align: center; /* Optional: zentriert die Textboxen im Container */
    }

    article p {
        font-family: 'Inter', sans-serif;
        font-size: 18px; /* Pass die Schriftgröße an */
        margin: 0; /* Entferne den Standardabstand des Textes */
    }
    
    
p {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0); /* Hintergrundfarbe des Buttons */
    color: #01bd1d; /* Textfarbe */
    text-decoration: none; /* Entfernt die Standard-Link-Unterstreichung */
    border-radius: 5px; /* Abrundung der Ecken */
    transition: background-color 0.3s; /* Animierter Hover-Effekt */
    font-style: Inter;
}

/* Hover-Effekt */
a:hover {
    background-color: rgb(250, 227, 163); /* Neue Hintergrundfarbe im Hover-Zustand */
    color: #007BFF;
}